
<h1>About</h1>

<p>
	<%= link_to "Notes2Know", "http://llumbreras.com" %> is a personal project to learn <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>. This is a sample application.
</p>

