<div class="hero-unit">
<h1>Welcome to Notes2Know</h1>
<p>You have reached the home page for 
	<%=  link_to "Notes2Know", "http://llumbreras.com" %> 
	application </p>
<p> 
	<%= link_to "Sign Up Now!", "http://", class: "btn btn-primary btn-large " %>
</p>
</div>
